body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 28px;
    background-color: #faf3dd; /* Light background for the main text */
    color: #4a7c59; /* Dark text */
}

p {
    font-size: 0.5em;
}

#logo {
    margin: 0;
    padding: 30px; /* Increased padding */
    font-family: "Fredoka One", sans-serif;
    width: 100%; /* Full width */
    text-align: center; /* Centering text */
    text-shadow:
        1px 1px 0px black, /* Bottom-right shadow */
        -1px 1px 0px black, /* Bottom-left shadow */
        1px -1px 0px black, /* Top-right shadow */
        -1px -1px 0px black; /* Top-left shadow */
}

ul {
    margin: 0;
}

body > header {
    background-color: #68b0ab; /* Updated header color */
    color: #faf3dd; /* Light text */
    display: flex;
    height: 15vh; /* Adjusted height */
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
    border: 1px solid #faf3dd; /* Border matches light color */
    border-radius: 10px;
}

.navbutton {
    color: #faf3dd; /* Light color for text */
    text-decoration: none;
}

#banner-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.banner-img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

body > main > article {
    width: 70%;
    margin: auto;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: #c8d5b9; /* Updated
