body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 28px;
    background-color: #eae0d5; /* Light background */
    color: #22333b; /* Dark text */
}

p {
    font-size: 0.9em; /* Slightly larger for better readability */
}

#logo {
    margin: 0px;
    padding: 30px; /* Increased padding */
    font-family: "Fredoka One", sans-serif;
    width: 100%; /* Full width */
    text-align: center; /* Centering text */
    text-shadow:
    1px 1px 0px #0a0908, /* Bottom-right shadow */
    -1px 1px 0px #0a0908, /* Bottom-left shadow */
    1px -1px 0px #0a0908, /* Top-right shadow */
    -1px -1px 0px #0a0908; /* Top-left shadow */
    background-color: #c6ac8f; /* Banner background color */
}

ul {
    margin: 0px;
}

body > header {
    background-color: #22333b; /* Dark blue-green for banner */
    color: #eae0d5; /* Light text */
    display: flex;
    height: 20vh; /* Increased height for better spacing */
    align-items: center;
    justify-content: space-around;
    padding: 0 20px; /* Padding for better spacing */
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 12px;
    margin: 16px;
    border: 1px solid #eae0d5; /* Border matches light color */
    border-radius: 10px;
}

.navbutton {
    color: #eae0d5; /* Light color for text */
    text-decoration: none;
}

body > main {
    position: relative;
    padding: 20px; /* Add padding around main content */
}

body > main::before, body > main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px; /* Width of the side banners */
    background-color: #5e503f; /* Dark brown for side banners */
}

body > main::before {
    left: 0;
}

body > main::after {
    right: 0;
}

body > main > article {
    width: 70%;
    margin: auto;
    background-color: #c6ac8f; /* Light banner background for articles */
    padding: 20px; /* Padding inside articles */
    border-radius: 10px; /* Rounded corners */
}

#main-content {
    display: flex;
}

#main-content aside {
    width: 30%; /* Assigned width */
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: #22333b; /* Dark blue-green for footer */
    display: flex;
    justify-content: space-around; /* Spread items evenly */
    padding: 10px 0; /* Padding for better spacing */
}

#footer-ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly; /* Spread the items evenly */
    width: 80%;
    margin: auto;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: #eae0d5; /* Light text */
}

footer h2 {
    font-size: 0.7em; /* Small copyright text */
    color: #eae0d5;
    text-align: center;
    margin-top: 5px;
}
